@model IEnumerable<Proyecto>


@if (Model is not null)
{
    <div class="container-sm">
        <div class="row gx-4">
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card">
                        <img class="card-img-top border" height="250" src="@item.ImagenURL" alt="@item.Titulo">
                        <div class="card-body">
                            <h5 class="card-title">@item.Titulo</h5>
                            <p class="card-text">@item.Descripcion</p>
                            <a href="@item.Link" target="_blank" class="btn btn-primary">Visitar</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}